# python-dotenv==1.0.1
# # loads the  enviornment variables from .env into our python app
# google.generativeai>=0.3.2 # official python client library helps us to interact with gemini gen api used for text generation , chatbot,embeddings
# streamlit==1.30.0 # streamlit is a python library that allows us to build web apps in python


streamlit==1.38.0
google-generativeai>=0.6.0
python-dotenv==1.0.1
